@use "styles/mixins" as *;

.serviceDescriptionContainer,
.serviceDescriptionAccordionContainer {
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  // width: 80%;
  margin: auto 50px 30px 20px;
  // margin-bottom: 3rem;
}

.serviceDescriptionAccordionContainer {
  flex-direction: column;
  width: 100%;
  max-width: 26rem;
}

.serviceDescriptionAccordionHeading {
  display: flex;
  margin-top: 20px;
}

.serviceDescriptionTitle {
  background-color: transparent;
  font-size: 20px;
  margin-bottom: 20px;
  @include smallMedia {
  margin-left: 30px;
  }
  @include desktop {
  font-size: 40px;
  }
}

.serviceDescriptionText {
  background-color: transparent;
  font-size: 1.2rem;
  line-height: 2rem;

  @include mediumMedia {
    font-size: 18px;
    line-height: 1.2rem;
    margin: -20px auto 40px 7.5%;
    @include animation(fadeIn, 1s);
  }
}

.serviceIconRed {
  background-color: transparent;
  color: var(--red);
}

.serviceIconPurple {
  background-color: transparent;
  color: var(--purple);
}

.serviceIconYellow {
  background-color: transparent;
  color: var(--yellow);
}

.serviceIconWhite {
  background-color: transparent;
  color: var(--white);
}
