@use "styles/mixins" as *;

.addressContainer {
  position: relative;
  background-color: transparent;
  margin-top: 18rem;
  margin-bottom: 8rem;

  @include smallMedia {
    margin-top: 15rem;
    margin-bottom: 5rem;
  }

  @include mediumMedia {
    height: 25vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.addressWrapper {
  position: relative;
  height: inherit;
  background-color: transparent;
}

.addressTitle {
  position: absolute;
  background-color: transparent;
  top: 0rem;
  left: 9rem;
  z-index: 1;
  width: 15rem;

  @include smallMedia {
    width: 20rem;
  }

  @include mediumMedia {
    width: max-content;
    left: 2.5rem;
  }
}

.addressDescription {
  position: absolute;
  background-color: transparent;
  top: 9rem;
  left: 9rem;
  z-index: 1;

  @include mediumMedia {
    top: 2.5rem;
    left: 2.58rem;
  }
}
