@use "styles/mixins" as *;

.navbarContainer {
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 99;
  opacity: 0.83;

  @include smallMedia {
    // height: 5rem;

  }

  @include tablet {
    padding: 3px 55px;
  }

  @include mediumMedia {
    padding: 3px 55px;
  }
}
